@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
*{
  font-family: 'Oswald', sans-serif;
}

.container-1{
  text-align: center;
  /*border: 1px solid black;*/
  margin: 120px auto 0 auto;
  width: 95%;
}

.container-1 h1{
  font-size: 100px;
} 

.container-1 h5{
  font-size: 15px;
}

.flex-box-container-1 {
  display: flex;
  /*border: 1px solid black;*/
  padding: 10px;
  flex-wrap: wrap;
  justify-content: space-around;
}

.flex-box-container-1 .sreach button{
  cursor: pointer;
  /*border: 1px solid black;*/
}

.search div{
  padding: 0;
  margin: 0;
}

.search{
  display: flex;
  flex-wrap: wrap;
  width: 16.5%;
  margin: 0 auto;
}

.btn-search:hover {
  background: #555;
}


